#fundal {
    width: 1000px;
    padding: 20px;
    border: none;
    margin: 0 auto;
    background-color: #FFEB99;
    box-shadow: 5px 5px 5px #999999;
}
a:link    {
    color:dodgerblue; 
    background-color:transparent; 
    text-decoration:none;
}
a:visited {
    color:blueviolet; 
    background-color:transparent; 
    text-decoration:none;
}
a:hover   {
    color:#663300; 
    background-color:transparent;     
    text-decoration:underline;
    
}
a:active  {
    color:white; 
    background-color:transparent; 
    text-decoration:underline;
}
h1 {
    color: red;
    text-shadow: 1px 1px 1px #333333;
    position: relative;
    -webkit-animation-name: antitlu; 
    -webkit-animation-duration: 10s; 
    -webkit-animation-iteration-count: 3; 
    animation-name: antitlu;
    animation-duration: 10s;
    animation-iteration-count: 10;
}
@keyframes antitlu {
    0%   {
        color:  red; 
        left:   0px; 
        top:    0px;}
    25%  {
        color:  yellow; 
        left:   1000px; 
        top:    0px;}
    100% {
        color:  red; 
        left:   0px; 
        top:    0px;}
}
