#fundal {
    width: 1000px;
    padding: 20px;
    border: none;
    margin: 0 auto;
    background-color: #FFEB99;
    box-shadow: 5px 5px 5px #999999;
}
a:link    {
    color:dodgerblue; 
    background-color:transparent; 
    text-decoration:none;
}
a:visited {
    color:blueviolet; 
    background-color:transparent; 
    text-decoration:none;
}
a:hover   {
    color:#663300; 
    background-color:transparent;     
    text-decoration:underline;
    
}
a:active  {
    color:white; 
    background-color:transparent; 
    text-decoration:underline;
}
h1 {
    color: red;
    position: relative;
    animation-name: antitlu;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes antitlu {
    0%   {
        color:  red; 
        left:   0px; 
        top:    0px;}
    25%  {
        color:  blue; 
        left:   500px; 
        top:    0px;}
    100% {
        color:  red; 
        left:   0px; 
        top:    0px;}
}

.rotate{
-webkit-transition-duration: 0.8s;
-moz-transition-duration: 0.8s;
-o-transition-duration: 0.8s;
transition-duration: 0.8s;

-webkit-transition-property: -webkit-transform;
-moz-transition-property: -moz-transform;
-o-transition-property: -o-transform;
transition-property: transform;

overflow:hidden;

}

.rotate:hover
{
-webkit-transform:  rotate(360deg);
-moz-transform: rotate(360deg);
-o-transform:   rotate(360deg);
transform: rotate(360deg);
}

.fadeout {
  -webkit-animation-name: fadeout;
  animation-name: fadeout;
}
@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}


.textcolor {
	margin: 5px 30px;
	padding: 10px 20px;
    	animation:	textcolor 8s infinite;
	-moz-animation:    textcolor 8s infinite; 
	-webkit-animation: textcolor 8s infinite; 
}

@keyframes textcolor { 
	0%   { 
		background-color: #993333;
		color: #FFFFFF;
		}
	50%  { 
		background-color: #FFA1A1; 
		
	}
	100% { 
		background-color: #FFFFCC; 
		
	}
}
@-moz-keyframes textcolor {
	0%   { 
		background-color: #993333; 
		color: #FFFFFF;
	}
	50%  { 
		background-color: #FFA1A1; 
		
	}
	100% { 
		background-color: #FFFFCC; 
		
	}
}
@-webkit-keyframes textcolor { 
	0%   { 
		background-color: #993333; 
		color: #FFFFFF;
	}
	50%  { 
		background-color: #FFA1A1; 
		
	}
	100% { 
		background-color: #FFFFCC; 
		
	}
}


