#fundal {
    width: 1000px;
    padding: 20px;
    border: 20px solid #006699;
    margin: 0 auto;
    background-color: #F0F5F5;
    box-shadow: 5px 5px 5px #999999;
}
a:link    {
    color:dodgerblue; 
    background-color:transparent; 
    text-decoration:none;
}
a:visited {
    color:blueviolet; 
    background-color:transparent; 
    text-decoration:none;
}
a:hover   {
    color:aquamarine; 
    background-color:transparent; 
    text-decoration:underline;
}
a:active  {
    color:white; 
    background-color:transparent; 
    text-decoration:underline;
}
h1 {
    color: #003399;
    text-align: center;
    margin-top:0;
}
h3 {
    color: #003399;
    text-align: left;
    text-decoration: underline;
}
p {
    font-family: "Times New Roman", Times, serif;
    font-size: 1em;
    font-style: normal;
    color: #00050A;
    text-align: justify;
    text-indent: 35px;
}
p:first-letter {
    font-size: 200%;
    color: #000066;
}
img.concediu {
    width: 304px;
    height: 228px; 
    float: left; 
    margin-right: 15px;
    box-shadow: 5px 5px 5px #999999; 
}
