#fundal {
    width: 1000px;
    padding: 20px;
    border: none;
    margin: 0 auto;
    background-color: #FFEB99;
    box-shadow: 5px 5px 5px #999999;
}
a:link    {
    color:dodgerblue; 
    background-color:transparent; 
    text-decoration:none;
}
a:visited {
    color:blueviolet; 
    background-color:transparent; 
    text-decoration:none;
}
a:hover   {
    color:#663300; 
    background-color:transparent;     
    text-decoration:underline;
    
}
a:active  {
    color:white; 
    background-color:transparent; 
    text-decoration:underline;
}
h1 {
    color: #FF9900;
    text-align: center;
    margin-top:0;
    text-shadow: 1px 1px 1px #333333;
}
p {
    font-family: "Times New Roman", Times, serif;
    font-size: 1em;
    font-style: normal;
    color: #291400;
}

div.campuri {
    display: inline-block;
    padding: 10px;
}

div.campuri input {
    width: 500px;
    height: 25px;
}

div.campuri label {
    display: inline-block;
    width: 150px;
    text-align: right;
    color: #663300;
    margin-right: 20px;
}

div.butoane input {
    display: inline;
    width: 100px;
    height: 30px;
    float: left;
    border: none;
    text-align: center;
    color: #ffffff;
    background-color: #FF9900;
    box-shadow: 3px 3px 3px #808080;
}
#bsubmit {
    margin: 20px 30px 50px 180px;
}

#breset {
    margin: 20px 30px 50px 0px;
}

textarea {
    width: 500px;
    height: 200px;
}
