#fundal {
    width: 1000px;
    padding: 20px;
    border: 20px solid #FFDE36;
    margin: 0 auto;
    background-color: #FFFFD6;
    box-shadow: 5px 5px 5px #999999;
}
h1 {
    color: #CC0000;
    text-align: center;
    margin-top:0;
    text-shadow: 1px 1px 2px #000000;
}
font {
    color: #A32900;
    text-align: left;
    vertical-align: text-top;
}
div.flori {
    width: 700px;
    height: 200px;
    background-color: #FFCC99;
    border: none;
    margin: 20px;
    padding: 20px;
}
p {
    font-family: "Times New Roman", Times, serif;
    font-size: 1em;
    font-style: normal;
    color: #663300;
    text-align: justify;
    text-indent: 40px;
    padding: 5px 225px 5px 5px;
}


