#fundal {
    width: 1000px;
    padding: 20px;
    border: none;
    margin: 0 auto;
    background-color: #FFEB99;
    box-shadow: 5px 5px 5px #999999;
}
a:link    {
    color:dodgerblue; 
    background-color:transparent; 
    text-decoration:none
}
a:visited {
    color:blueviolet; 
    background-color:transparent; 
    text-decoration:none
}
a:hover   {
    color:#663300; 
    background-color:transparent;     
    text-decoration:underline
    
}
a:active  {
    color:white; 
    background-color:transparent; 
    text-decoration:underline
}
h1 {
    color: #CC7A00;
    text-align: center;
    margin-top:0;
    text-shadow: 1px 1px 1px #333333;
}

p {
    font-family: "Times New Roman", Times, serif;
    font-size: 1em;
    font-style: normal;
    color: #00050A;
    text-align: center;
}

div.foto {
    margin: 10px;
    padding: 10px 10px 10px 10px;
    border: 1px solid #CC0000;
    height: 600;
    width: 500;
    float: left;
    display: inline;
}

img.poza {
    margin: 10px;
    border: none;
    width: 300px;
    height: 200px;
}

div.informatie{
    text-align: center;
}

p.locatie {
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin: 0;
}
