#fundal {
    width: 1000px;
    padding: 20px;
    border: 20px solid #008AB8;
    margin: 0 auto;
    background-color: #EBEBF5;
}
h1 {
    color: #003399;
    text-align: center;
}
h3 {
    color: #003399;
    text-align: center;
    text-decoration: underline;
}
p {
    font-family: "Times New Roman", Times, serif;
    font-size: 1em;
    font-style: normal;
    color: #00050A;
    text-align: justify;
    text-indent: 35px;
}
p:first-letter {
    font-size: 200%;
    color: #000066;
}
