#fundal {
    width: 1000px;
    padding: 20px;
    border: 20px solid #FFDE36;
    margin: 0 auto;
    background-color: #FFFFD6;
}
h1 {
    color: #003399;
    text-align: center;
    margin-top:0;
}
h3 {
    color: #FFFFFF;
    text-align: left;
}
div {
    width: 700px;
    height: 200px;
    background-color: #005C00;
    border: none;
    
}
p {
    font-family: "Times New Roman", Times, serif;
    font-size: 1em;
    font-style: normal;
    color: #FFFFFF;
    text-align: justify;
    text-indent: 35px;
}
p:first-letter {
    font-size: 200%;
    color: #000066;
}

