img.oras {
        margin: 5px, 5px, 5px, 5px;
        padding: 10px;
        align: center;
        
}
div {
        align-content: center;
}
p {
        text-align: left;
        padding: 15px, 0px, 0px, 0px;
}
