img.oras {
        margin: 5px, 5px, 5px, 5px;
        padding: 10px;
        align: center;
        
}

div#fundal {
    width: 1000px;
    padding: 20px;
    border: 1px;
    margin: 0 auto;
}

p {
        text-align: left;
        padding: 15px, 0px, 0px, 0px;
}
