div#fundal {
    width: 1000px;
    padding: 20px;
    border: 1px;
    margin: 0 auto;
}

img.oras {
        margin: 5px, 5px, 5px, 5px;
        padding-bottom: 10px;
        align: center;
        
}

p.denumire {
        text-align: left;
        font-weight: bold;
}
