#fundal {
    width: 1000px;
    padding: 20px;
    border: none;
    margin: 0 auto;
    box-shadow: 5px 5px 5px #999999;
}
a:link    {
    color:dodgerblue; 
    background-color:transparent; 
    text-decoration:none
}
a:visited {
    color:blueviolet; 
    background-color:transparent; 
    text-decoration:none;
}
a:hover   {
    color:#663300; 
    background-color:transparent;     
    text-decoration:underline;
    
}
a:active  {
    color:white; 
    background-color:transparent; 
    text-decoration:underline;
}
h1 {
    color: #000066;
    text-align: center;
    margin-top:0;
}

#imagine {
    width: 650px;
    height: 450px;
    margin: 20px 30px 150px 20px;
}
button {
    width: 250px;
    height: 40px;
    background-color: #333399;
    border: none;
    box-shadow: 5px 5px 5px #999999;
    color: #ffffff;
    margin: 5px 200px;
}
button:hover {
    box-shadow: 15px 15px 15px 15px #999999;
    background-color: #ffffff;
    border: 1px;
    color: #333399;
}
