#fundal {
    width: 1000px;
    padding: 20px;
    border: none;
    margin: 0 auto;
    background-color: #D1F0FF;
    box-shadow: 5px 5px 5px #999999;
}
a:link    {
    color: dodgerblue; 
    background-color: transparent; 
    text-decoration: none;
}
a:visited {
    color: blueviolet; 
    background-color: transparent; 
    text-decoration: none;
}
a:hover   {
    color:#663300; 
    background-color:transparent;     
    text-decoration:underline;
    
}
a:active  {
    color: white; 
    background-color: transparent; 
    text-decoration: underline;
}
h1 {
    color: #CC3300;
    text-align: center;
    margin-top: 5px;
    text-shadow: 1px 1px 1px #333333;
}
p {
    font-family: "Times New Roman", Times, serif;
    font-size: 1em;
    font-style: normal;
    text-align: justify;
    padding: 0px 25px 5px 0px;
    vertical-align: top;
    margin-top: 0px;
}
.poze {
    width: 120px;
    height: 140px;
    float: left;
    margin-right: 15px;
    margin-bottom: 2px;
    box-shadow: 2px 2px 2px #999999;
}
